In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.0.1-cp311-cp311-macosx_11_0_arm64.whl (10.7 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yusup/Desktop/MyCurses/Hsoub/The Code/06-Data-Analisis/venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.21.0
  Using cached numpy-1.24.3-cp311-cp311-macosx_11_0_arm64.whl (13.8 MB)
Requirement already satisfied: six>=1.5 in /Users/yusup/Desktop/MyCurses/Hsoub/The Code/06-Data-Analisis/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.1 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [6]:
import pandas as pd 

df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
spec = df['Species']
print(spec)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [10]:
mult = df[['Id', 'Species']]
print(mult)

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

In [15]:
rows = df[2:7]
rows.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa

In [16]:
resault = df.loc[0]
print(resault)

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [17]:
df.set_index("Id", inplace = True)
resault = df.loc[1]
print(resault)

SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [18]:
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# df.reset_index(inplace=True) #Resets the indexing

In [19]:
resault = df.loc[[1,3,5]]
print(resault)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
resault = df.loc[[1,3,5], ['Species']]
print(resault)

        Species
Id
1   Iris-setosa
3   Iris-setosa
5   Iris-setosa

In [21]:
resault = df.loc[:, ['Species']] # All columns
print(resault)

            Species
Id
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
5       Iris-setosa
..              ...
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
150  Iris-virginica

[150 rows x 1 columns]

In [22]:
resault = df.loc[2:5, ['Species']]
print(resault)

        Species
Id
2   Iris-setosa
3   Iris-setosa
4   Iris-setosa
5   Iris-setosa

In [23]:
resault = df.loc[2:5] # All rows
print(resault)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [25]:
df.reset_index(inplace=True)
df.head()

,index,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5,5.0,3.6,1.4,0.2,Iris-setosa

In [26]:

resault = df.iloc[0]
print(resault)

index                      0
Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [27]:

resault = df.iloc[[1,2], [1,5]]
print(resault)

   Id  PetalWidthCm
1   2           0.2
2   3           0.2

In [28]:
resault = df.iloc[2:5, ['Species']] # Gives error
print(resault)

IndexError: .iloc requires numeric indexers, got ['Species']