In [32]:
import pandas as pd

df = pd.read_csv('irisErrors.csv', sep=';')

print(df)

      Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm         Species
0      1         5.Jan        3.May         1.Apr          0.2     Iris-setosa
1      2           NaN          abc         1.Apr          0.2     Iris-setosa
2      3           NaN        3.Feb           def         1000             NaN
3      4           NaN        3.Jan         1.May          200     Iris-setosa
4      5             5        3.Jun         1.Apr          0.2     Iris-setosa
..   ...           ...          ...           ...          ...             ...
145  146         6.Jul            3         5.Feb        2.Mar  Iris-virginica
146  147         6.Mar        2.May             5        1.Sep  Iris-virginica
147  148         6.May            3         5.Feb            2  Iris-virginica
148  149         6.Feb        3.Apr         5.Apr        2.Mar  Iris-virginica
149  150         5.Sep            3         5.Jan        1.Aug  Iris-virginica

[150 rows x 6 columns]

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  147 non-null    object
 2   SepalWidthCm   150 non-null    object
 3   PetalLengthCm  150 non-null    object
 4   PetalWidthCm   150 non-null    object
 5   Species        148 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.2+ KB
None

In [33]:
for col in df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']].columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

print(df.head())
print(df.info())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            NaN           NaN            NaN           0.2  Iris-setosa
1   2            NaN           NaN            NaN           0.2  Iris-setosa
2   3            NaN           NaN            NaN        1000.0          NaN
3   4            NaN           NaN            NaN         200.0  Iris-setosa
4   5            5.0           NaN            NaN           0.2  Iris-setosa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  17 non-null     float64
 2   SepalWidthCm   27 non-null     float64
 3   PetalLengthCm  13 non-null     float64
 4   PetalWidthCm   63 non-null     float64
 5   Species        148 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [35]:
# df = df.dropna(subset=['Species'])
# print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            NaN           NaN            NaN           0.2  Iris-setosa
1   2            NaN           NaN            NaN           0.2  Iris-setosa
2   3            NaN           NaN            NaN        1000.0          NaN
3   4            NaN           NaN            NaN         200.0  Iris-setosa
4   5            5.0           NaN            NaN           0.2  Iris-setosa

In [36]:
df['Species'].fillna(value= 'Unknown', inplace=True)
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            NaN           NaN            NaN           0.2  Iris-setosa
1   2            NaN           NaN            NaN           0.2  Iris-setosa
2   3            NaN           NaN            NaN        1000.0      Unknown
3   4            NaN           NaN            NaN         200.0  Iris-setosa
4   5            5.0           NaN            NaN           0.2  Iris-setosa

In [37]:
for col in df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']].columns:
    df[col].fillna(value= df[col].mean(), inplace=True)
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1       5.470588           3.0       4.307692           0.2  Iris-setosa
1   2       5.470588           3.0       4.307692           0.2  Iris-setosa
2   3       5.470588           3.0       4.307692        1000.0      Unknown
3   4       5.470588           3.0       4.307692         200.0  Iris-setosa
4   5       5.000000           3.0       4.307692           0.2  Iris-setosa

In [38]:
df['PetalWidthCm'] = df['PetalWidthCm'].where(df['PetalWidthCm'] < 10, 10)

print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1       5.470588           3.0       4.307692           0.2  Iris-setosa
1   2       5.470588           3.0       4.307692           0.2  Iris-setosa
2   3       5.470588           3.0       4.307692          10.0      Unknown
3   4       5.470588           3.0       4.307692          10.0  Iris-setosa
4   5       5.000000           3.0       4.307692           0.2  Iris-setosa